.App {
  text-align: center;
}


.Todolist {
  margin-top: 50px;
}
.Counter {
  margin-top: 50px;
}

.Todolist {
  margin-top: 50px;
}


.todos-container {
  display: flex;
  flex-direction: column;
  margin: 50px 150px;
}

.todos-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.todos-container .todos-item:nth-child(odd) {
  background-color: #eee;
}

.todos-item div+button{
  margin-left: 50px;
}